/*Gestion de la police de la page*/
#conteneur
{
	font-family: Cambria;
}
/*couleur des liens en noir avec liste à puce non visible*/
a
{
	color:black;
	text-decoration: none;
}
/*changement de couleur des sites visités*/
a:visited
{
	color:#007F46;
}
/*changement de couleur sur passage de la souris*/
a:hover
{
	color:#5E4023;
}
/*nelever les puces dans le menu*/
#menu li
{
	list-style-type: none;
}
/*image de fond du site*/
body
{
	background-image: url("images/fondzoo(flouté).jpg");
	opacity:0.9;
}
