

/*police et décoration de la classe presentation*/
.presentation
{
	font-size: large
}
.presentation h1
{
	font-size: larger;
	color:#FFFFFF;
}
/*Gestion du fond et la police du site*/
body
{
	/*background-color: #E2A073;*/
	background-image: url("images/fondzoo(flouté).jpg");
	opacity:0.9;
	color:#FFFFFF;
}
/*Gestion de la police du site*/
#conteneur
{
	font-family: Cambria;
	
}
/*couleur blanche des liens*/
a
{
	color:#FFFFFF;
	text-decoration: none;
}
/*fond gris des liens réseaux sociaux*/
.reseaux_sociaux
{
	
}
/*couleur des sites sélectionnés*/
a:hover
{
	color : #FFE87A;
}
/*image de fond derrière les différents bloc*/
#parc
{
	background-image: url("images/parc.jpg");
	opacity: 0.95;
	height: 150px;
}
#métiers
{
	background-image: url("images/metiers.png");
	opacity: 0.95;
	height: 150px;
	box-shadow: 1px 1px 40px #000000;
}
#animaux
{
	background-image: url("images/animaux.jpg");
	opacity: 0.95;
	height: 150px;
	box-shadow: 1px 1px 40px #000000;
}
#animations
{
	background-image: url("images/animations.png");
	opacity: 0.95;
	height: 150px;
	box-shadow: 1px 1px 40px #000000;
}
#visites
{
	background-image: url("images/visites.png");
	opacity: 0.95;
	height: 150px;
	box-shadow: 1px 1px 40px #000000;
}
#actualités
{
	background-image: url("images/pic13.jpg");
	opacity: 0.95;
	height: 150px;
	box-shadow: 1px 1px 40px #000000;
}
/*bouton menu en écriture marron et fond vert*/
.menu
{
	color:#753D2C;
	background-color:#D3D38F ;
	border-radius: 10px;
}
/*enlever les puce dans le menu*/
#menu li
{
	list-style-type: none;
}


